
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
virtual-env/
venv/
.venv/


db.sqlite3

media/

staticfiles/



.env
.env.*
!.env.example



.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
.DS_Store
Thumbs.db

data/*
tests/*

